@model Userdetail
@{
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
    ViewData["Title"] = "Add New User";
}
<div class="row-11 d-flex my-2">
    <div class="col-6 text-Users-title fs-2">
        Add New User
    </div>
    <div class="col-6 d-flex justify-content-end">
        <a asp-controller="Main" asp-action="Content" class="text-decoration-none back-button mx-1 p-2">
            Back
        </a>
    </div>
</div>
<form asp-action="AddNewUser" method="post" enctype="multipart/form-data">
    <div class="add-user-frame">
        <div class="form-floating row m-2">
            <input type="text" class="form-control col m-2 p-3" id="firstName" name="FirstName" placeholder="First Name" required>
            <label for="firstName">First Name</label>
            <input type="text" class="form-control col m-2 p-3" id="lastName" name="LastName" placeholder="Last Name" required>
            <label for="lastName">Last Name</label>
        </div>
        <div class="form-floating row m-2">
            <input type="text" class="form-control col m-2 p-3" id="userName" name="UserName" placeholder="User Name" required>
            <label for="userName">User Name</label>
            <select class="form-select col m-2 p-3" id="role" name="Role" required>
                <option selected disabled>Select role</option>
                <option value="Chef">Chef</option>
                <option value="Account Manager">Account Manager</option>
                <option value="Admin">Admin</option>
            </select>
            <label for="role">Role</label>
        </div>
        <div class="form-floating row m-2">
            <input type="email" class="form-control col m-2 p-3" id="email" name="Email" placeholder="Email" required>
            <label for="email">Email</label>
            <input type="password" class="form-control col m-2 p-3" id="password" name="Password" placeholder="Password" required>
            <label for="password">Password</label>
        </div>
        <div class="form-floating row m-2">
            <input type="file" class="form-control col m-2 p-3" id="profileImage" name="ProfileImage" placeholder="Profile Image">
            <label for="profileImage">Profile Image</label>
        </div>
        <div class="form-floating row m-2">
            <select class="form-select col m-2 p-3" id="ddlCountry" name="Country" required>
                <option selected disabled>Select Country</option>
            </select>
            <label for="ddlCountry">Country</label>
            <select class="form-select col m-2 p-3" id="ddlState" name="State" required>
                <option selected disabled>Select State</option>
            </select>
            <label for="ddlState">State</label>
            <select class="form-select col m-2 p-3" id="ddlCity" name="City" required>if (!isNaN(CountryId)) {
            var ddlState = $('#ddlState');
            ddlState.empty();
            ddlState.append($("<option></option>").val('').html('Please wait ...'));


            $.ajax({
                url: 'http://localhost:5094/CascadingDropdown/GetState',
                type: 'GET',
                dataType: 'json',
                data: { CountryId: CountryId },
                success: function (d) {

                    ddlState.empty(); // Clear the please wait
                    ddlState.append($("<option></option>").val('').html('Select State'));
                    $.each(d, function (i, states) {
                        ddlState.append($("<option></option>").val(states.stateId).html(states.stateName));
                    });
                },
                error: function () {
                    alert('Error!');
                }
            });
        }


    });

    //District Bind By satate id
    $("#ddlState").change(function () {
        var StateId = parseInt($(this).val());
        if (!isNaN(StateId)) {
            var ddlDistrict = $('#ddlDistrict');
            ddlDistrict.append($("<option></option>").val('').html('Please wait ...'));
            $.ajax({
                url: 'http://localhost:5094/CascadingDropdown/GetDistrict',
                type: 'GET',
                dataType: 'json',
                data: { stateId: StateId },
                success: function (d) {


                    ddlDistrict.empty(); // Clear the plese wait
                    ddlDistrict.append($("<option></option>").val('').html('Select District Name'));
                    $.each(d, function (i, districts) {
                        ddlDistrict.append($("<option></option>").val(districts.districtId).html(districts.districtName));
                    });
                },
                error: function () {
                    alert('Error!');
                }
            });
        }


    });

    //On Submit Method
    
        $("#Submit").click(function(){
               var ddlCountry =  parseInt($("#ddlCountry").val());
               var ddlState =  parseInt( $("#ddlState").val());
               var ddlDistrict =  parseInt($("#ddlDistrict").val());
               
               var data = {
                ddlCountry: ddlCountry,
                ddlState: ddlState,
                ddlDistrict: ddlDistrict
                
            };
             console.log(data);
                  $.ajax({
                    url: 'http://localhost:5094/CascadingDropdown/AddCountryStateDistrict',
                    type: 'POST',
                    dataType: 'json',
                    data: data,
                    success: function (d) {
                       alert("Submitted To Database");
                    },
                    error: function () {
                        alert('Error!');
                    }
                });
                
        });

    });
</script>
        }
                <option selected disabled>Select City</option>
            </select>
            <label for="ddlCity">City</label>
        </div>
        <div class="form-floating row m-2">
            <input type="text" class="form-control col m-2 p-3" id="zipcode" name="Zipcode" placeholder="Zipcode" required>
            <label for="zipcode">Zipcode</label>
            <input type="text" class="form-control col m-2 p-3" id="address" name="Address" placeholder="Address" required>
            <label for="address">Address</label>
            <input type="text" class="form-control col m-2 p-3" id="phone" name="Phone" placeholder="Phone" required>
            <label for="phone">Phone</label>
        </div>
        <div class="row m-2 my-3">
            <div class="col my-2">
                <button type="submit" class="create-user-button p-2">
                    Create User
                </button>
                <a asp-controller="Main" asp-action="Content" class="cancel-user-button p-2">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
<script>
    $(document).ready(function () {
        var ddlCountry = $('#ddlCountry');
        ddlCountry.append($("<option></option>").val('').html('Please Select Country'));
        $.ajax({
            url: '@Url.Action("LoadCountry", "Main")',
            type: 'GET',
            dataType: 'json',
            success: function (d) {
                $.each(d, function (i, country) {
                    ddlCountry.append($("<option></option>").val(country.countryid).html(country.name));
                });
            },
            error: function () {
                alert('Error loading countries!');
            }
        });

        $("#ddlCountry").change(function () {
            var countryId = parseInt($(this).val());
            if (!isNaN(countryId)) {
                var ddlState = $('#ddlState');
                ddlState.empty();
                ddlState.append($("<option></option>").val('').html('Please wait ...'));

                $.ajax({
                    url: '@Url.Action("GetState", "Main")',
                    type: 'GET',
                    dataType: 'json',
                    data: { countryId: countryId },
                    success: function (d) {
                        ddlState.empty();
                        ddlState.append($("<option></option>").val('').html('Select State'));
                        $.each(d, function (i, state) {
                            ddlState.append($("<option></option>").val(state.stateid).html(state.name));
                        });
                    },
                    error: function () {
                        alert('Error loading states!');
                    }
                });
            }
        });

        $("#ddlState").change(function () {
            var stateId = parseInt($(this).val());
            if (!isNaN(stateId)) {
                var ddlCity = $('#ddlCity');
                ddlCity.empty();
                ddlCity.append($("<option></option>").val('').html('Please wait ...'));

                $.ajax({
                    url: '@Url.Action("GetCity", "Main")',
                    type: 'GET',
                    dataType: 'json',
                    data: { stateId: stateId },
                    success: function (d) {
                        ddlCity.empty();
                        ddlCity.append($("<option></option>").val('').html('Select City'));
                        $.each(d, function (i, city) {
                            ddlCity.append($("<option></option>").val(city.cityid).html(city.name));
                        });
                    },
                    error: function () {
                        alert('Error loading cities!');
                    }
                });
            }
        });
    });
</script>
}